# backend/.htaccess

RewriteEngine On

# Ez a két sor biztosítja, hogy az "Authorization" fejléc eljusson a PHP-hoz.
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Minden más kérést irányítsunk az index.php-ra
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]